<div class="background background_toggled"></div>
<div class="bars_container toggled">
	<div class="bars x1 y1"></div>
	<div class="bars x2 y1"></div>
	<div class="bars x3 y1"></div>
	<div class="bars x1 y2"></div>
	<div class="bars x2 y2"></div>
	<div class="bars x3 y2"></div>
	<div class="bars x1 y3"></div>
	<div class="bars x2 y3"></div>
	<div class="bars x3 y3"></div>    
</div>

<div class="big_bars_container big_toggled effect">
	<a href="index.html">
		<div id="bar1" class="big_bars big_x1 big_y1">
			<img src="img/homeicon.png"></img>
			<p class="bartext"> Homepage </p>
		</div>
	</a>

	<a href="Geschiedenis.html">
		<div id="bar2" class="big_bars big_x2 big_y1">
			<img src="img/boekenzelf.png"></img>
			<p class="bartext"> Geschiedenis </p>
		</div>
	</a>

	<a href="Poll.html">
		<div id="bar3" class="big_bars big_x3 big_y1">
			<img src="img/poll.png"></img>
			<p class="bartext"> Poll </p>
		</div>
	</a>

	<a href="Theorie.html">
		<div id="bar4" class="big_bars big_x1 big_y2">
			<img src="img/boekenzelf.png"></img>
			<p class="bartext"> Theorie </p>
		</div>
	</a>

	<a href="Data.html">
		<div id="bar5" class="big_bars big_x2 big_y2">
			<img src="img/data.png"></img>
			<p class="bartext"> Data </p>
		</div>
	</a>

	<a href="Extra.html">
		<div id="bar6"class="big_bars big_x3 big_y2">
			<img src="img/bronnenicon.png"></img>
			<p class="bartext"> Bronnen </p>
		</div> 
	</a>

	<a href="Documentaire.html">
		<div id="bar7"class="big_bars big_x1 big_y3">
			<img src="img/filmvierkant.png"></img>
			<p class="bartext"> Documentaire</p>
		</div> 
	</a>

	<a href="http://www.facebook.com" target="_blank">
		<div id="bar8" class="big_bars big_x2 big_y3 not_active">
			<img src="img/facebook%20logo2.png"></img>
			<p class="bartext"> Like deze pagina </p>
		</div>
	</a>

	<a href="Contact.html">
		<div id="bar9" class="big_bars big_x3 big_y3 not_active">
			<img src="img/wolkje.png"></img>
			<p class="bartext"> Contact </p>
		</div> 
	</a>   
</div>