<div class="backgroundphonebar pextra"></div>
<div class="topbox p<%= current.source.toLowerCase() %>">
    <div class="phonebar_container">
        <%
        var items = [
            {
                "href":"Geschiedenis.html",
                "text":"Geschiedenis"
            },{
                "href":"Poll.html",
                "text":"Poll"
            },{
                "href":"Theorie.html",
                "text":"Theorie"
            },{
                "href":"Data.html",
                "text":"Data"
            },{
                "href":"Extra.html",
                "text":"Extra"
            },{
                "href":"Documentaire.html",
                "text":"Documentaire"
            },
        ];
        items.forEach(function(item,index){
            index = index + 1;

        %>
        <a href="<%= item.href %>">
            <div id="topbar<%= index %>" class="topbar border">
                <p> <%= item.text %> </p>
            </div>
        </a>
        <% 
        });
        %>
        
    </div>
</div>