<!---
Page divided in two. Image on top
-->
<div class="pageup pextra">
     <img src="img/bubbles.jpg">
</div>

<div class="pagedown pextra"></div>

<!--- Filmpjes die in deze container kunnen
-->

<div class="container pextra fadeInDelayAnimation">
<div class="pextra subcontainer image">
    
<div class="fit">
 <iframe width="280" height="150" src="https://www.youtube.com/embed/0u0RQk2Z1-o" frameborder="0" allowfullscreen></iframe></div>
    <h3> Mobiel bellen in 1999</h3>
    <p><b> Hoe leefde we voor 2000 toen er nog geen mobiele telefoon was? Wat deden mensen als ze ergens op moesten wachten en niet even konden appen? Hoe communiceerde mensen als ze te laat zouen komen? </b></p>
    <div class="play pextra doetstom"><img src="playknop.png"/>
    </div>
    </div>
    
    <div class="pextra subcontainer image">
        
<div class="fit">
        <iframe width="280" height="150" src="https://www.youtube.com/embed/_1V0rDSTC9I" frameborder="0" allowfullscreen></iframe></div>
         <h3> Mobiel naast je bed? </h3>
        <p> <b>Waar ligt jouw mobiel als je naar bed gaat? Ligt deze naast je bed? Hoogstwaarschijnlijk wel. Maar wat doet dat nou eigenlijk met jouw gezondheid en je geest? </b></p>
        <div class="play pextra"><img src="img/playknop.png"/></div>
    </div>
    
<div class="pextra subcontainer image">
    
<div class="fit">
       <iframe width="280" height="150" src="https://www.youtube.com/embed/tgTbAkyyhLo" frameborder="0" allowfullscreen></iframe></div>
     <h3> Smartphone verslaving</h3>
    <p> <b>Ben jij verslaafd aan je telefoon? In dit filmpje wordt duidelijk hoe verslavend het soms kan zijn en wat het met ons doet. Zie de krachtige speech van een jonge man.</b></p>
    <div class="play pextra"><img src="img/playknop.png"/></div>
    </div>
    </div>
