<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
     <link rel="stylesheet" href="websitecss.css" type="text/css"/>
  <title>Geschiedenis van de telefoon</title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1138.51">
  <style type="text/css">
      


      

      
      #his1 {
          top:302px;
}
      
      #his2 {
          top:322px;
          margin-left:-401px;
}
      #his3 {
          top:502px;
}
      #his4 {
          top:342px;
          
}
      #his5 {
         
          top:702px;
}
      #his6 {
         
          top:542px;
          margin-left:-401px;
}
      
      #his7 {
}
      
    
      
  
.containerhis p {
        color:white;
        font-size: 10px;
        text-decoration:none;
        text-transform:uppercase;
        margin-right:10px;
        font-family:"Open Sans", sans-serif;
    margin: 3px 3px 3px 3px;
}

.right {
    text-align: left;
}

.left {
    text-align: right;
}
      

      
.imghis p {
    position:absolute;
    top:150px;
    color:white;
    font-size: 10px;
    text-decoration:none;
    text-transform:uppercase;
    margin-right:10px;
    font-family:"Open Sans", sans-serif;
    margin: 3px 3px 3px 3px;
    text-shadow:1px 1px 5px dimgrey;
}
      
.imghis.l {
    left:50%;
    margin-left:-400px; /* neg width imghis - afstand tijdlijn, zelfde als r */
}

.imghis.r {
    left:50%;
    margin-left:150px;
}
      


    
      
  </style>
</head>
<body>
<div id="top"></div>
<div id="bottom"></div>  
<div id="left"></div>  
<div id="right"></div>  
    
<div class="pageleft pgeschiedenis"></div>
<div class="pageright pgeschiedenis"></div>

    

<div class="allcircles pgeschiedenis">
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>
    <div class="circle c4"></div>
    <div class="circle c5"></div>
    <div class="circle c6"></div>
    <div class="circle c7"></div>
    <div class="circle c8"></div>
    <div class="circle c9"></div>
    <div class="circle c10"></div>
    <div class="circle c11"></div>
    <div class="circle c12"></div>
    <div class="circle c13"></div>
    </div>
<!---
<div class="containerhis">
    <div id="his1" class="alltexts pgeschiedenis"><p class="right">1854</p></div>
    <div id="his2" class="alltexts pgeschiedenis"><p class="left">1860</p></div>
    <div id="his3" class="alltexts pgeschiedenis"><p class="right">1876</p></div>
    <div id="his4" class="alltexts pgeschiedenis"><p class="left">1879</p></div>
    <div id="his5" class="alltexts pgeschiedenis"><p class="right">1881</p></div>
    <div id="his6" class="alltexts pgeschiedenis"><p class="left">1925</p></div>
    <div id="his7" class="alltexts pgeschiedenis"><p class="right">1964</p></div>
    <div id="his8" class="alltexts pgeschiedenis"><p class="left">1973</p></div>
    <div id="his9" class="alltexts pgeschiedenis"><p class="right">1982</p></div>
    <div id="his10" class="alltexts pgeschiedenis"><p class="left">1992</p</div>
    <div id="his11" class="alltexts pgeschiedenis"><p class="right">2000</p</div>
    <div id="his12" class="alltexts pgeschiedenis"><p class="left">2007</p</div>
    <div id="his13" class="alltexts pgeschiedenis"><p class="right">2010</p</div>
</div>

  
<div class="allimages pgeschiedenis">
    <div class="image pgeschiedenis r" id="imghis1"><img src="img/bubbles.jpg"/></div>
    <div class="image pgeschiedenis l" id="imghis2"><img src="img/bubbles.jpg"/></div>
    <div class="image pgeschiedenis r" id="imghis3"><img src="img/bubbles.jpg"/></div>
    <div class="image pgeschiedenis r" id="imghis4"><img src="img/bubbles.jpg"/></div>
    <div class="image pgeschiedenis r" id="imghis5"><img src="img/bubbles.jpg"/></div>
    <div class="image pgeschiedenis l" id="imghis6"><img src="img/bubbles.jpg"/></div>
    </div>
        
   --->     
        
</body>
</html>
