<div id="top"></div>
<div id="bottom"></div>  
<div id="left"></div>  
<div id="right"></div>  
    
<div class="pageleft pgeschiedenis"></div>
<div class="pageright pgeschiedenis"></div>
<div class="line pgeschiedenis"></div>
    
<!--- Circles hebben zelfde afstand van top als de 'divjes' van de tabelletjes met een 'bovenborder'-->
<div class="allcircles pgeschiedenis">
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>
    <div class="circle c4"></div>
    <div class="circle c5"></div>
    <div class="circle c6"></div>
    <div class="circle c7"></div>
    <div class="circle c8"></div>
    <div class="circle c9"></div>
    <div class="circle c10"></div>
    <div class="circle c11"></div>
    <div class="circle c12"></div>
    <div class="circle c13"></div>
    </div>
    
<div class="containeryear">
    <div id="his1" class="year pgeschiedenis"><p class="right">1854</p></div></div>
    <div id="his2" class="year pgeschiedenis"><p class="right">1876</p></div></div>
    <div id="his3" class="year pgeschiedenis"><p class="right">1925</p></div></div>
    <div id="his4" class="year pgeschiedenis"><p class="right">1981</p></div></div>
    <div id="his5" class="year pgeschiedenis"><p class="right">1982</p></div></div>
    <div id="his6" class="year pgeschiedenis"><p class="right">2000</p></div></div>
    <div id="his7" class="year pgeschiedenis"><p class="right">2010</p></div></div>
    <div id="his8" class="year pgeschiedenis"><p class="left">1860</p></div></div>
    <div id="his9" class="year pgeschiedenis"><p class="left">1879</p></div></div>
    <div id="his10" class="year pgeschiedenis"><p class="left">1964</p></div></div>
    <div id="his11" class="year pgeschiedenis"><p class="left">1973</p></div></div>
    <div id="his12" class="year pgeschiedenis"><p class="left">1992</p></div></div>
    <div id="his13" class="year pgeschiedenis"><p class="left">2007</p></div></div>
</div>

  
<div class="allimages pgeschiedenis">
    <div class="image pgeschiedenis" id="imghis1"><div class="pgeschiedenis wrapper"><p>Charles Bourseul deed het eerste voorstel voor telefonie. Het lukte hem niet om deze theorie in praktijk te brengen </p></div></div>
    <div class="image pgeschiedenis" id="imghis2"><div class="pgeschiedenis wrapper"><p>Alexander Graham Bell krijgt het eerste patent op de telefoon. Deze functioneerde toen nog niet goed, maar werd later door Thomas Edison verbeterd. Het was in deze tijd alleen mogelijk om naar één ander toestel te bellen. Een telefooncentrale bestond nog niet.</p></div></div>
    <div class="image pgeschiedenis" id="imghis3"><div class="pgeschiedenis wrapper"><p>Eerste Nederlandse openbare telefoonnetwerk, met 49 abonnees. 20 jaar later  waren dit er al 75.000</p></div></div>
    <div class="image pgeschiedenis" id="imghis4"><div class="pgeschiedenis wrapper"><p>Verschijning van het eerste voorbeeld van een mobiele telefoon. Deze was zo groot als een baksteen en had een grote antenne. Verder was hij erg duur: omgerekend zou hij 6500 euro hebben gekocht.</p></div></div>
    <div class="image pgeschiedenis" id="imghis5"><div class="pgeschiedenis wrapper"><p>Oprichting Groupe Spécial Mobile (GSM). </p></div></div>
    <div class="image pgeschiedenis" id="imghis6"><div class="pgeschiedenis wrapper"><p>Voor het eerst wordt er een mobiele telefoon verkocht die echt een smartphone wordt genoemd. Met de Ericsson R380 kon op het web gesurft worden. </p></div></div>
    <div class="image pgeschiedenis" id="imghis7"><div class="pgeschiedenis wrapper"><p>Vanaf dit jaar waren er bijna geen smartphones meer die een echt toetsenbord hadden in plaats van een touchscreen. De smartphone is een onderdeel geworden van het dagelijks leven en is hierin geïntergreerd. </p></div></div>
    <div class="image pgeschiedenis" id="imghis8"><div class="pgeschiedenis wrapper"><p>Philipp Reis kwam met het eerste concept van telefonie, maar zijn toestellen bleken in de praktijk niet geschikt</p></div></div>
    <div class="image pgeschiedenis" id="imghis9"><div class="pgeschiedenis wrapper"><p>Voor het eerst werd het mogelijk om zelf een verbinding te kiezen. Een telefoniste regelde met de hand dat mensen doorverbonden werden. </p></div></div>
    <div class="image pgeschiedenis" id="imghis10"><div class="pgeschiedenis wrapper"><p>De eerste automatische telefooncentrale opent in Haarlem. In 1962 waren alle telefooncentrales geautomatiseerd. Nederland was na Zwitserland het tweede land dat dit wist te realiseren. De telefoon van deze tijd leek nog niets op dat wat wij nu kennen. Mensen waren slecht te verstaan; vrouwen en mannenstemmen konden niet goed onderscheiden worden. Dit werd in de jaren erna verbeterd.</p></div></div>
    <div class="image pgeschiedenis" id="imghis11"><div class="pgeschiedenis wrapper"><p>Ontstaan van de eerste automatische mobiele telefoon. Deze was echter erg groot en woog 9 kg</p></div></div>
    <div class="image pgeschiedenis" id="imghis12"><div class="pgeschiedenis wrapper"><p>Verschijning van de eerste mobiele telefoon zoals wij die kennen (klein en licht): de IBM Simon. Dit was de eerste mobiele telefoon die niet alleen gebruikt kon worden voor bellen, maar ook voor faxen en e-mailen. Verder had deze telefoon apps al een agenda, adresboek en rekenmachine.</p></div></div>
    <div class="image pgeschiedenis" id="imghis13"><div class="pgeschiedenis wrapper"><p>Apple Inc. introduceert de iPhone. </p></div></div>
    </div>
        
   --->     
        
</body>
</html>
