<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
     <link rel="stylesheet" href="websitecss.css" type="text/css"/>
  <title>Geschiedenis van de telefoon</title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1138.51">
  <style type="text/css">
      


      


      
  


    
      
  </style>
</head>
<body>
<div id="top"></div>
<div id="bottom"></div>  
<div id="left"></div>  
<div id="right"></div>  
    
<div class="pageleft pgeschiedenis"></div>
<div class="pageright pgeschiedenis"></div>
<div class="line pgeschiedenis"></div>
    
<!--- Circles hebben zelfde afstand van top als de 'divjes' van de tabelletjes met een 'bovenborder'--->
<div class="allcircles pgeschiedenis">
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>
    <div class="circle c4"></div>
    <div class="circle c5"></div>
    <div class="circle c6"></div>
    <div class="circle c7"></div>
    <div class="circle c8"></div>
    <div class="circle c9"></div>
    <div class="circle c10"></div>
    <div class="circle c11"></div>
    <div class="circle c12"></div>
    <div class="circle c13"></div>
    </div>
    
<!--- Deze divjes bevatten het jaartal en de bovenborder. Zelfde top als de circles --->
    
<div class="containeryear">
    <div id="his1" class="year pgeschiedenis"><p class="right">1854</p></div>
    <div id="his2" class="year pgeschiedenis"><p class="left">1860</p></div>
    <div id="his3" class="year pgeschiedenis"><p class="right">1879</p></div>
    <div id="his4" class="year pgeschiedenis"><p class="left">1876</p></div>
    <div id="his5" class="year pgeschiedenis"><p class="right">1881</p></div>
    <div id="his6" class="year pgeschiedenis"><p class="left">1925</p></div>
    <div id="his7" class="year pgeschiedenis"><p class="right">1964</p></div>
    <div id="his8" class="year pgeschiedenis"><p class="left">1973</p></div>
    <div id="his9" class="year pgeschiedenis"><p class="right">1982</p></div>
    <div id="his10" class="year pgeschiedenis"><p class="left">1992</p></div>
    <div id="his11" class="year pgeschiedenis"><p class="right">2000</p></div>
    <div id="his12" class="year pgeschiedenis"><p class="left">2007</p></div>
    <div id="his13" class="year pgeschiedenis"><p class="right">2010</p></div>
</div>

  
<div class="allimages pgeschiedenis">
    <div class="image pgeschiedenis" id="imghis1"></div>
    <div class="image pgeschiedenis" id="imghis2"></div>
    <div class="image pgeschiedenis" id="imghis3"></div>
    <div class="image pgeschiedenis" id="imghis4"></div>
    <div class="image pgeschiedenis" id="imghis5"></div>
    <div class="image pgeschiedenis" id="imghis6"></div>
    <div class="image pgeschiedenis" id="imghis7"></div>
    <div class="image pgeschiedenis" id="imghis8"></div>
    <div class="image pgeschiedenis" id="imghis9"></div>
    <div class="image pgeschiedenis" id="imghis10"></div>
    <div class="image pgeschiedenis" id="imghis11"></div>
    <div class="image pgeschiedenis" id="imghis12"></div>
    <div class="image pgeschiedenis" id="imghis13"></div>
    </div>
        
   --->     
        
</body>
</html>
