<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
     <link rel="stylesheet" href="websitecss.css" type="text/css"/>
  <title>Geschiedenis van de telefoon</title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1138.51">
  <style type="text/css">
      
.lefthis {
    position:absolute;
    height:100%;
    width:50%;
    left:0px;
    background-color:#268A47;
    border:1px solid white;
}

.righthis {
    position:absolute;
    height:100%;
    width:50%;
    right:0px;
    background-color:#268A47;
    border:1px solid white;
}

      
    .allhis {
       position:absolute;
          left:50%;
          width:400px;
          height:1px;
          border-top:1px solid white;
      }
      
      #his1 {
          top:302px;
}
      
      #his2 {
          top:322px;
          margin-left:-401px;
}
      #his3 {
          top:502px;
}
      #his4 {
          top:342px;
          
}
      #his5 {
         
          top:702px;
}
      #his6 {
         
          top:542px;
          margin-left:-401px;
}
      
      #his7 {
}
      
      .circle {
          position:absolute;
          left:50%;
          margin-left:-5px;
          border:2px solid white;
          border-radius:50%;
         background-color:white;
          height:5px;
          width:5px;
          
      }
    
    .c1, #his1, #imghis1 {
        top:300px;
    }
      
    .c2, #his2, #imghis2 {
        top:320px;
    }
    
    .c3, #his3, #imghis3 {
        top:500px;
      }
      
    .c4, #his4, #imghis4 {
        top:30px;
    }
    .c5, #his5, #imghis5 {
        top:700px;
    }
      
    .c6, #his6, #imghis6 {
        top:540px;
    }
      
  
.containerhis p {
        color:white;
        font-size: 10px;
        text-decoration:none;
        text-transform:uppercase;
        margin-right:10px;
        font-family:"Open Sans", sans-serif;
    margin: 3px 3px 3px 3px;
}

.right {
    text-align: left;
}

.left {
    text-align: right;
}
      
.imghis {
    border:1px solid white;
    border-radius:10px;
    height:150px;
    width:250px;
    position:absolute;
    overflow:hidden;
    box-shadow: 5px 5px 7px dimgrey;
    margin-top:-75px;
}
      
.imghis p {
    position:absolute;
    top:150px;
    color:white;
    font-size: 10px;
    text-decoration:none;
    text-transform:uppercase;
    margin-right:10px;
    font-family:"Open Sans", sans-serif;
    margin: 3px 3px 3px 3px;
    text-shadow:1px 1px 5px dimgrey;
}
      
.imghis.l {
    left:50%;
    margin-left:-400px; /* neg width imghis - afstand tijdlijn, zelfde als r */
}

.imghis.r {
    left:50%;
    margin-left:150px;
}
      


    
      
  </style>
</head>
<body>
    
<div class="lefthis"></div>
<div class="righthis"></div>

<div class="circle c1"></div>
<div class="circle c2"></div>
<div class="circle c3"></div>
<div class="circle c4"></div>
    
<div class="containerhis">
    <div id="his1" class="allhis"><p class="right">Jaartal</p></div>
    <div id="his2" class="allhis"><p class="left">Jaartal</p></div>
    <div id="his3" class="allhis"><p class="right">Jaartal</p></div>
    <div id="his4" class="allhis"><p class="right">Jaartal</p></div>
    <div id="his5" class="allhis"><p class="right">Jaartal</p></div>
    <div id="his6" class="allhis"><p class="left">Jaartal</p></div>
  
<div class="imageshis">
    <div class="imghis r" id="imghis1"><img src="img/bubbles.jpg"/><p class="right">Texttexttext</p></div>
    <div class="imghis l" id="imghis2"><img src="img/bubbles.jpg"/><p class="left">Texttexttext</p></div>
    <div class="imghis r" id="imghis3"><img src="img/bubbles.jpg"/><p class="right">Texttexttext</p></div>
    <div class="imghis r" id="imghis4"><img src="img/bubbles.jpg"/><p class="right">Texttexttext</p></div>
    <div class="imghis r" id="imghis5"><img src="img/bubbles.jpg"/><p class="right">Texttexttext</p></div>
    <div class="imghis l" id="imghis6"><img src="img/bubbles.jpg"/><p class="left">Texttexttext</p></div>
    </div>
</body>
</html>
