<div class="beforemenu_hp2"></div>
<!--
***************************************************
MENU BIJ START VAN DE WEBSITE 
***************************************************
-->
<div class="beforemenu">
    <div class="phoneframe">
        <img src="img/phoneframezelf.png"/>
        <div class="phonebg"></div>
        <div class="redbutton phonebutton"></div>
    </div>
</div>
<!--
----------------------------------------------
TELEFOON DIE VERSCHIJNT
----------------------------------------------
 -->

    
<div class="phoneleft">
    <div class="ptopbox buttonAnimation"></div>
    <div class="phonescreen"></div>
    <img src="img/phoneframezelf.png"/>
    <div class="left-phone-button buttonAnimation"></div>
        <div class="pbars_container active buttonAnimation">
        <div class="pbars px1 py1"></div>
        <div class="pbars px2 py1"></div>
        <div class="pbars px3 py1"></div>
        <div class="pbars px1 py2"></div>
        <div class="pbars px2 py2"></div>
        <div class="pbars px3 py2"></div>
        <div class="pbars px1 py3"></div>
        <div class="pbars px2 py3"></div>
        <div class="pbars px3 py3"></div>    
    </div>

    <div class="littlebars_container active buttonAnimation">
        <div class="littlebars lx1 ly1"></div>
        <div class="littlebars lx2 ly1"></div>
        <div class="littlebars lx3 ly1"></div>
        <div class="littlebars lx1 ly2"></div>
        <div class="littlebars lx2 ly2"></div>
        <div class="littlebars lx3 ly2"></div>
        <div class="littlebars lx1 ly3"></div>
        <div class="littlebars lx2 ly3"></div>
        <div class="littlebars lx3 ly3"></div>    
    </div>
</div>
    
<div class="phonescreen_on buttonAnimation"></div>