<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
     <link rel="stylesheet" href="websitecss.css" type="text/css"/>
  <title> Theorie </title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1138.51">
  <style type="text/css">
    
    body {
        background-color:dimgrey;
    }
      
      
 
      .up {
    position:fixed;
    height:50%;
    width:100%;
    top:20px;
    background-image:url("img/bubbles.jpg");
      }
      
    .down {
    position:absolute;
        top:400px;
        width:100%;
        height:100%;
        bottom:20px;
        background-color:#FF4D4D;
        opacity:.5;
    border-top:20px solid #FF4D4D;
    }
      
.subtitle {
    width:50%;
    position:absolute;
    top:200px;
    background-color:dimgrey;
    height:auto;
}
      
.subsubtitle {
    width:50%;
    position:absolute;
    background-color:#FF4D4D;
    height:auto;
    opacity:1;
}
    
.tabs_container {
    position:absolute;
    top:400px;
    left:50px;
}

  </style>
</head>
<body>

<div class="border">
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
    </div>

    
    <div class="up"></div>
    <div class="down"></div>
    <div class="subtitle">
    <p>
    TEKST
        TEKST</p>
        <p> Blablabla</p>
        <div class="subsubtitle">
            <p> MEER TEKST </p>
        </div></div>
    
    `</body>
</html>
