/* 
--------------------
        Animations
--------------------
*/
@keyframes zoomInLeft {
    0% {
        opacity:1;
        transform: scale3d(1, 1, 1);
    }

    80% {
        xopacity:0;
        transform:scale3d(4, 4, 4);
    }
    
    100% {
        xopacity:0;
        xvisibility:hidden;
    }
}

.zoomInLeft {
    animation: zoomInLeft 4s none;
    animation-delay:0.1s;
    animation-fill-mode: both;
}


@keyframes buttonAnimation {
    0% {
        opacity:0;
        transform: translate3d(0,0,0);
    }   
    100% {
        opacity:1;
        transform: translate3d(0 ,0, 0);
    }
}
     
.buttonAnimation {
    animation:buttonAnimation forwards;
    animation-duration:2s;
    animation-delay:4s;
    animation-fill-mode: both;
}

@keyframes fadeInAnimation {
    0% {
        opacity:0;
        transform: translate3d(0,0,0);
    }

    100% {
        opacity:1;
        transform: translate3d(0 ,0, 0);
    }
}

.fadeInAnimation {
    animation:fadeInAnimation forwards;
    animation-duration:2s;
    animation-fill-mode: both;
}

@keyframes fadeOutAnimation {
    0% {
        opacity:1;
        transform: translate3d(0,0,0);
    }

    100% {
        opacity:0;
        transform: translate3d(0 ,0, 0);
    }
}

.fadeOutAnimation {
    animation:fadeOutAnimation forwards;
    animation-duration:2s;
    animation-fill-mode: both;
}

@keyframes fadeInDelayAnimation {
    0% {
        opacity:0;
        transform: translate3d(0,0,0);
    }

    100% {
        opacity:1;
        transform: translate3d(0 ,0, 0);
    }
}

.fadeInDelayAnimation {
    animation:fadeInDelayAnimation forwards;
    animationdelay:3s;
    animation-duration:2s;
    animation-fill-mode: both;
}


@keyframes animationphoneleft {
    0% {
        transform: translate3d(-100%, 0, 0);
        opacity:0;
    }

    100% {
        transform: translate3d (0, 0, 0);
        opacity:0.8;

    }
}

.animationphoneleft {
    animation:animationphoneleft ease-in-out;
    animation-duration:2s;
    animation-delay:1s;
    animation-fill-mode: both;
}

@keyframes animationphoneleft_hp {
    0% {
        transform: translate3d(-100%, 0, 0);
        opacity:0;
    }

    100% {
        transform: translate3d (0, 0, 0);
        opacity:0.8;

    }
}

.animationphoneleft_hp {
    animation:animationphoneleft ease-in-out;
    animation-duration:2s;
    animation-delay:2.5s;
    animation-fill-mode: both;
}

@keyframes colorAnimation {
    0% {
        background-color:black;
    }
    20% {
        background-color:blueviolet;
    }
    60% {
        background-color:black;
    }
    80% {
        background-color:blueviolet;
    }
    100% {
        background-color:black;
    }
}

.colorAnimation {
    animation:colorAnimation forwards;
    animation-duration:4s;
    animation-fill-mode: both;
}

@keyframes colorAnimation2 {
    0% {
        background-color:blueviolet;
    }
    20% {
        background-color:black;
    }
    60% {
        background-color:blueviolet;
    }
    80% {
        background-color:black;
    }
    100% {
        background-color:blueviolet;
    }
}

.colorAnimation2 {
    animation:colorAnimation2 forwards;
    animation-duration:4s;
    animation-fill-mode: both;
}

/*
-----------------------------------------------------------
            De algemene lay out 
-----------------------------------------------------------
*/
#top, #bottom, #left, #right {
	background-color:dimgrey;
	position: fixed;
    z-index:-1000;
	}

#left, #right {
  top: 0; bottom: 0;
  width: 30px;
}

#left { left: 0; }
#right { right: 0; }

#top, #bottom {
  left: 0; right: 0;
  height: 30px;
}

#top { top: 0; }
#bottom { bottom: 0; }


.backgroundphonebar{
    position:fixed;
    background:white;
    top-margin:-80px;
    height:100px;
    width:100%;
    z-index:-1px;
    border-bottom:12px solid;
    border-radius:20px 20px 5px 5px;
}

.pageup {
    height:60%;
    width:100%;
    float:top;
    position:fixed;
    z-index:-1;
    border-radius:20px 20px 0px 0px;
}

.pagedown {
    height:40%;
    width:100%;
    bottom:0px;
    position:fixed;
    z-index:-1;
    border-radius:0px 0px 20px 20px;
}

.ppoll .filler {
    height: 140px;
}

.pageright {
    height:100%;
    width:50%;
    float:right;
    position:fixed;
    z-index:-1;
    right:0px;
    border-radius:20px 20px 0px 0px;
}

.pageleft {
    height:100%;
    width:50%;
    float:left;
    position:fixed;
    z-index:-1;
    left:0px;
    border-radius: 0px 0px 20px 20px;
}

/* ------------------------------------------
PAGE UPS/DOWNS/RIGHTS/LEFTS
------------------------------------------*/

.pageup.pextra, .pageup.pdocumentaire {
    background-color:white;
    
}

.pageup.pdocumentaire {
    border-radius:20px 20px 0px 0px;
}



.pageup img { /*img IN de pageup*/
    width:100%;
    overflow:hidden;
    background-size:contain;
    border-radius:20px 20px 0px 0px;
}



/* ------------------------------------------
WEBSITE GESCHIEDENIS
------------------------------------------*/
.pageright.pgeschiedenis, .pageleft.pgeschiedenis {
    background-color:white;
    position:fixed;
    height:100%;
    width:50%;
}

.line.pgeschiedenis {
    border-right:3px solid darkgreen;
    position:absolute;
    left:0px;
    width:50%;
    height:2600px;
    z-index:-1;
}

.imgages.pgeschiedenis {
    position:absolute;
    overflow:hidden;
    position:absolute;
    top:200px;
}

 .containeryear .pgeschiedenis { /* De lijnen in de tijdlijn*/
            position:absolute;
          left:50%;
          width:480px;
          height:20px;
          border-top:3px solid darkgreen;
     z-index:-1;
      }



  .allcircles.pgeschiedenis {
          position:absolute;
          left:50%;
         
      }

.circle {
    position:absolute;
     border:2px solid darkgreen;
        border-radius:50%;
      background-color:white;
          height:5px;
          width:5px;
     margin-left:-3px;
    z-index:1;
    margin-top:-11px;
}

.image.pgeschiedenis {
    width:400px;
    height:300px;
    overflow:hidden;
    left:50%;
    border: 1px solid white;
    box-shadow: 5px 5px 10px darkgreen;
    background-image:contain;
    position:absolute;
    border:1px solid white;
    border-radius:20px;
    z-index:1;
}

.pgeschiedenis.wrapper {
      width:400px;
    height:300px;
    overflow:hidden;
    border: 1px solid white;
    box-shadow: 5px 5px 10px darkgreen;
    background-image:contain;
    position:absolute;
    left:50%;
     background-color:black;
    border-radius:20px;
    opacity:0;
    z-index:2;
    transition: opacity 0.35s linear;
}

.year.pgeschiedenis p {
        color:#335C33;
        font-size: 20px;
        text-decoration:none;
        text-transform:uppercase;
        font-family:"Open Sans", sans-serif;
        margin: 3px 6px 3px 6px;
        position:absolute;
}

.image.pgeschiedenis p {
    color:#2EB82E;
        font-size: 15px;
        text-decoration:none;
        font-family:"Open Sans", sans-serif;
        margin: 3px 6px 3px 6px;
        position:absolute;
    font-weight:bold;
    text-alignment:center;
    padding-left:40px;
    padding-right:40px;
    padding-top:60px;
    opacity:0;
}

.image.pgeschiedenis:hover p {
    opacity:1;
}

.wrapper:hover {
opacity:0.7;
}

/* .allimages.pgeschiedenis {
    position:absolute;
    left:50%;
    margin-left:-200px;
}*/

/* Plaatsing containers - lijntjes */
#his1, .c1 {top:300px;}

#his2, .c2 {top:630px;}

#his3, .pgeschiedenis .c3 {top:940px;}

#his4, .c4 {top:1340px;}

#his5, .c5 {top:1710px;}

#his6, .c6 {top:2050px;}

#his7, .c7 {top:2380px;}

.c8 {top:350px;}
.c9 {top:680px;}
.c10 {top:1010px;}
.c11 {top:1300px;}
.c12 {top:1770px;}
.c13 {top:2100px; margin-right:-480px;}

#his8 {top:350px; margin-left:-480px;}

#his9 {top:680px; margin-left:-480px;}

#his10 {top:1010px; margin-left:-480px;}

#his11 {top:1300px; margin-left:-480px;}

#his12 {top:1770px; margin-left:-480px;}

#his13 {top:2100px; margin-left:-480px;}


p.left {
    position:absolute;
    padding-left:423px;
}

/* Plaatsing van plaatjes en cirkels*/

    #imghis1{
    background-image:url("img/1854.jpg");
    left:200px;
    top:150px;
    }

    #imghis8{
    background-image:url("img/1860.jpg");
    top:200px;
    right:200px
    }
    #imghis2{
    background-image:url("img/1879.jpg");
    top:490px;
    left:200px;
    }
    #imghis9{
    background-image:url("img/1876.jpg");
    right:200px;
    top:530px;
    }
    #imghis3{
    background-image:url("img/1881.gif");
    left:200px;
    top:790px;
    }
    #imghis10{
    background-image:url("img/1925.jpg");
    right:200px;
    top:860px;
    }

    #imghis11{
    background-image:url("img/1964.jpg");
    right:200px;
    top:1190px;
    }
    #imghis4{
    background-image:url("img/1973.jpg");
    left:200px;
    top:1150px
    }
    #imghis5{
    background-image:url("img/IBM_Simon.jpeg");
    left:200px;
    top:1560px;
    }
    #imghis12{
    background-image:url("img/1982.jpg");
    right:200px;
    top:1520px;
    }
    #imghis6{
    background-image:url("img/2000.jpg");
    left:200px;
    top:1900px;
    }
    #imghis13{
    background-image:url("img/2007.jpg");
    top:1950px;
    right:200px;
    }
    #imghis7{
    background-image:url("img/2010.jpg");
    right:200px;
    top:2300px;
    }

/* ------------------------------------------
WEBSITE DOCUMENTAIRE
------------------------------------------*/

.pagedown.pdocumentaire {
    background-color:white;
}

.pageup.pdocumentaire {
    background-color:white;
}

/* ------------------------------------------
WEBSITE EXTRA's
------------------------------------------*/
.container.pextra {
    height:400px;
    top:280px;
    left:50%;
    width:1000px;
    margin-left:-515px;
    position:absolute;
    overflow:hidden;
    border-radius:30px;
    padding:20px 10px 10px 20px;
    /*#EB99FF*/
    
}
.subcontainer.pextra{
    background-color:#FBEBFF;
    border:1px solid #4D0067;
    border-radius:30px;
    width:280px;
    height:400px;
    display:inline-block;
    overflow:hidden;
    margin:0px 20px;
    box-shadow:5px 5px 10px #8A00B8;
    cursor:pointer;
}

.subcontainer.pextra p, .subcontainer.pextra h3 {
    text-decoration:none;
    font-family:"Open Sans", sans-serif;
    font-style: none;
    text-align: left;
    position:relative;
    overflow:hidden;
}

.subcontainer.pextra h3 {
    top:-150px;
    margin-left:30px;
    color:#5E3D66;
}

.subcontainer.pextra p {
    font-size:15px;
    margin-left:10px;
    margin-right:10px;
    top:10px;
    opacity:1;
    color:#2F1F33;
}

.subcontainer img {
    width:100%;
    overflow:hidden;
    background-size:contain;
}
.pagedown.pextra {
    background-color:white;
    /* #EB99FF */
}

.fit {
    height:150px;
    width:280px;
    top:50px;
    position:relative;
    overflow:hidden;re
}

.play.pextra {
    height:30px;
    width:30px;
    position:absolute;
    border-radius:100%;
    border:3px solid #4D0067;
    margin-left:220px;
    margin-top:30px;
}
.play.pextra img {
    background-size:contain;
    overflow:hidden;
    height:25px;
    width:25px;
    margin-left:5px;
    margin-top:3px;
}

.play.pextra.doetstom {
    margin-bottom:20px;
    margin-top:0px;
}

.subcontainer.pextra:hover {
    background-color:white;
}

.subcontainer.pextra:hover .play {
    background-color:orange;
}

/* ------------------------------------------
DIFFERENT COLORS FOR DIFFERENT SITES. DEFINED BY P...
------------------------------------------*/
body.pextra, body.pdata, body.pgeschiedenis, body.pdocumentaire, body.ptheorie, body.ppol {
    background-color: dimgrey;
}

.pextra .bars {background-color:#8A00B8}
.pdata .bars {background-color:#0000CC;}
.pgeschiedenis .bars {background-color:#268A47;}
.pdocumentaire .bars {background-color:#B20000}
.ptheorie .bars {background-color:#CC0000}
.ppol .bars{background-color: #FFAD33}
.phomepage .bars {background-color:#E65C00;}

.topbox.pdata, .backgroundphonebar.pdata {
    border-color:#00008F;
}
.topbox.pextra, .backgroundphonebar.pextra {
    border-color:#4D0067;
}
.backgroundphonebar.pindex {
    border-style: none;
}
.backgroundphonebar.pgeschiedenis {
    border-color:#17532B;
}
.backgroundphonebar.pdocumentaire {
    border-color:#8E0000;
}
.backgroundphonebar.pextra {
    border-color:#4D0067;
}
.backgroundphonebar.ptheorie {
    border-color:#A30000;
}
.backgroundphonebar.pcontact{
    border-color:#B82593
}
.bars.phomepage {border-color:#B84A00;}

/* HOVER NAVIGATIEMENU */
.lightup.pextra:hover {color:purple;}
.lightup.pdata:hover {color:blue;}
.lightup.pgeschiedenis:hover {color:green;}
.lightup.pdocumentaire:hover {color:#990000;}
.lightup.ptheorie:hover {color:#B20000;}
.lightup.pcontact:hover {color:#B82593;}
.lightup.phomepage:hover {color:darkorange;}

/* 
--------------------------
       FILMPJES
--------------------------
*/
iframe.pdocumentaire {
    bottom:700px;
    border-radius:20px 20px 0px 0px;
}

/* 
--------------------------
       CONTENT HOMEPAGE
--------------------------
*/

.contenthomepage {
    position:absolute;
    top:100px;
    left:500px;
    height:800px;
    width:600px;
}

#hpbar1 {

    background-color:orange;
}

#hpbar2 {
    background-color:red;
    margin-top:200px;
}

#hpbar3 {

    background-color:darkred;
    margin-top:400px;
}


.homepagecontent a {
    color:white;
    text-decoration:none;
    text-align:center;
    width:120px;
    height:120px;
}

.pagetext {
    text-align:center;
    font-size: 30px;
    margin-bottom:0px;
    margin-top:20px;
    font-size: 10px;
    color:white;
    font-family:"Open Sans", sans-serif;
    text-transform:uppercase;
    overflow:hidden;
    transition-delay:0.3s;
    transition-duration:0.3s;
    display:block;
    margin-top:20px;
    position:relative;
    text-shadow: 1px 1px 1px black;
    margin-top:10px;
    opacity:1;
}

.hpbar img {
    height:50px;
    width:50px;
    margin-top:30px;
    margin-left:30px;
    position:relative;
    overflow:hidden;
}

.hpbar {
    width: 120px;
    height: 120px;
    position: absolute;
    border: 1px solid #CCC;
    border-radius: 23px;
    margin: 10px, 10px, 10px, 10px;
    padding: 10px, 10px, 10px, 10px;
    opacity:.8;
    display:inline-grid;
    float:clear;
    box-shadow:5px 5px 10px dimgrey;
}

/*
--------------------------------------------------------------
TABS
--------------------------------------------------------------
*/


#tabs {
  overflow: auto;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#tabs li {
    margin: 0;
    padding: 0;
    float: left;
}

#tabs a {
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #FFC266;
    background: linear-gradient(220deg, transparent 10px, #FFC266 10px);
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #fff;
    float: left;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    padding: 0 30px;
    text-decoration: none;
    border-bottom:2px 
}

#tabs a:hover {
    background: #FFD699;
    background: linear-gradient(220deg, transparent 10px, #FFD699 10px);     
}

#tabs a:focus {
    outline: 0;
}

#tabs #current a {
    background: #fff;
    background: linear-gradient(220deg, transparent 10px, #fff 10px);
    text-shadow: none;    
    color: #333;
}

#content {
    background-color: #fff;
    background-image:         linear-gradient(top, #fff, #ddd);
    border-radius: 0 2px 2px 2px;
    box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    padding: 30px;
}

/* Remove the rule below if you want the content to be "organic" */
#content div {
    height: 220px; 
}



/* 

--------------------------
            Kleine menu 
--------------------------

*/

.bars_container {
    position: fixed;
    top:20px;
    left: 35px;
    width: 40px;
    height: 40px;
    cursor:pointer;
    padding-top:10px;
    padding-left:10px;
    z-index:1501;
}

.bars {
    /* blue blocks */
    transition: transform 0.2s linear, background-color 0.2s linear;
    background-color: blueviolet;
    width: 9px;
    height: 9px;
    position: absolute;
}



.toggled .bars {
    background-color: black;

}
.bars.x1.y1{
    transform: translate(0,0);
}
.bars.x2.y1 {
    transform: translate(10px,0);
}
.bars.x3.y1 {
    transform: translate(20px,0);
}
.bars.x1.y2{
    transform: translate(0,10px);
}
.bars.x2.y2 {
    transform: translate(10px,10px);
}
.bars.x3.y2 {
    transform: translate(20px,10px);
}
.bars.x1.y3{
    transform: translate(0,20px);
}
.bars.x2.y3 {
    transform: translate(10px,20px);
}
.bars.x3.y3 {
    transform: translate(20px,20px);
}

.toggled .bars.x1.y1{
    transform: translate(-5px,-5px);
}
.toggled .bars.x2.y1 {
    transform: translate(10px,-5px);
}
.toggled .bars.x3.y1 {
    transform: translate(25px,-5px);
}
.toggled .bars.x1.y2{
    transform: translate(-5px,10px);
}
.toggled .bars.x2.y2 {
    transform: translate(10px,10px);
}
.toggled .bars.x3.y2 {
    transform: translate(25px,10px);
}
.toggled .bars.x1.y3{
    transform: translate(-5px,25px);
}
.toggled .bars.x2.y3 {
    transform: translate(10px,25px);
}
.toggled .bars.x3.y3 {
    transform: translate(25px,25px);
}


/* 
--------------------------
        Grote menu
--------------------------
*/


.big_bars_container {
    position: fixed;
    z-index: 1501;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top:-200px;
    pointer-events: none;
    background-color:transparent;
    border-radius:10px;
    padding:10px 10px 10px 10px;
}

.big_bars_container a {
    pointer-events: all;
}

.big_bars_container.big_toggled a {
    pointer-events: none;
}





.big_bars {
    transition: transform 0.4s linear, background-color 0.4s linear, opacity 0.3s linear;
    background-color: transparent;
    width: 120px;
    height: 120px;
    position: absolute;
    border: 1px solid #CCC;

    border-radius: 23px;
    margin: 10px, 10px, 10px, 10px;
    padding: 10px, 10px, 10px, 10px;
    display:inline;
    opacity:1;
    z-index:1501;
}
.big_toggled .big_bars {
    opacity: 0.4;
}


.big_bars.big_x1.big_y1{
    transform: translate(0,0);
    background-color:orangered;
}
.big_bars.big_x2.big_y1 {
    transform: translate(140px,0);
    background-color:forestgreen;
}
.big_bars.big_x3.big_y1 {
    transform: translate(280px,0);
    background-color:orange;
}
.big_bars.big_x1.big_y2{
    transform: translate(0,140px);
    background-color:red;
}
.big_bars.big_x2.big_y2 {
    transform: translate(140px,140px);
    background-color:blue;
}
.big_bars.big_x3.big_y2 {
    transform: translate(280px,140px);
    background-color:blueviolet;
}
.big_bars.big_x1.big_y3{
    transform: translate(0,280px);
    background-color:darkred;
}
.big_bars.big_x2.big_y3 {
    transform: translate(140px,280px);
    background-color:dodgerblue;
}
.big_bars.big_x3.big_y3 {
    transform: translate(280px,280px);
    background-color:deeppink;
}

.big_toggled .big_bars.big_x1.big_y1{
    transform: translate(-100px,-100px);
}
.big_toggled .big_bars.big_x2.big_y1 {
    transform: translate(140px,-100px);
}
.big_toggled .big_bars.big_x3.big_y1 {
    transform: translate(380px,-100px);
}
.big_toggled .big_bars.big_x1.big_y2{
    transform: translate(-100px,140px);
}
.big_toggled .big_bars.big_x2.big_y2 {
    transform: translate(140px,140px);
}
.big_toggled .big_bars.big_x3.big_y2 {
    transform: translate(380px,140px);
}
.big_toggled .big_bars.big_x1.big_y3{
    transform: translate(-100px,380px);
}
.big_toggled .big_bars.big_x2.big_y3 {
    transform: translate(140px,380px);
}
.big_toggled .big_bars.big_x3.big_y3 {
    transform: translate(380px,380px);
}

.background {
    transition: opacity 0.4s linear;
    z-index:1500;
    height:100%;
    width:100%;
    margin: 0;
    left: 0;
    top: 0;
    opacity:0.8;
    background-color:black;
    position:fixed;
}
.background_toggled {
    opacity:0;
    pointer-events: none;
}


/*
-------------------------------------
            Lay out van grote menu
-------------------------------------
*/

.big_bars_container a {
    color:white;
    font-size: 20px;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    font-family:"Open Sans", sans-serif;
    width:120px;
    height:120px;
}

.big_bars_container a p {
    text-align:center;
    margin-bottom:0px;
    margin-top:20px;

}


.effect img {
    height:50px;
    width:50px;
    margin-top:30px;
    transition-delay: 0.5s;
    transition-duration:0.3s;
    position:relative;
    overflow:hidden;
}




.effect .bartext {
    font-size: 10px;
    color:white;
    font-family:sans-serif;
    font-style: none;
    overflow:hidden;
    transition-duration:0.3s;
    display:block;
    margin-top:20px;
    position:relative;
    opacity:0;
    text-shadow: 1px 1px 1px black;
}

#bar1 {
    box-shadow:5px 5px 10px #999;

}

#bar4 {
    box-shadow:5px 5px 10px #999;

}

#bar7 {
    box-shadow:5px 5px 10px #999;

}

.big_toggled .big_bars {
    opacity:0;
}

.big_toggled #bar1 {
    opacity:0;
}

.big_toggled #bar4 {
    opacity:0;
}

.big_toggled #bar7 {
    opacity:0;
}


 /*
------------------------------------
        Effecten (hovers) van Grote Menu
------------------------------------
*/




.big_bars:hover {
    box-shadow:5px 5px 10px #999;
    opacity:1;
    
}




#bar1:hover {
    height:125px;
    width:125px;
    top:5px;
    left:-5px;
    box-shadow: 8px 8px 5px #999;
    
}

#bar4:hover {
    height:125px;
    width:125px;
    top:5px;
    left:-5px;
    box-shadow: 8px 8px 5px #999;
    
}

#bar7:hover {
    height:125px;
    width:125px;
    top:5px;
    left:-5px;
    box-shadow: 8px 8px 5px #999;
    
}


.big_bars:hover .bartext {
    margin-top:10px;
    opacity:1;
}

/* 
--------------------------------------------------------
          
        TOGGLE MENU IN TELEFOON

--------------------------------------------------------
*/

.pbars_container {
    position: absolute;
    top:230px;
    left: 60px;
    width: 195px;
    height: 195px;
    cursor:pointer;
    z-index:1501;
}

.pbars_containerlight {
    opacity:.2;
    z-index:500;
}

.pbars {
    transition: transform 0.4s linear, opacity 0.3s linear;

    background-color: black;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius:10px;
    border:1px solid white;
    box-shadow:3px 3px 5px dimgrey;
    opacity:1;
}

.ptoggled .pbars {
    transition: transform 0.4s linear, opacity 0.3s linear;
    opacity:0;

}
.pbars.px1.py1{
    transform: translate(0,0);
    background-color:darkorange;
}
.pbars.px2.py1 {
    transform: translate(65px,0);
    background-color:forestgreen;
}
.pbars.px3.py1 {
    transform: translate(130px,0);
    background-color:orane;
}
.pbars.px1.py2{
    transform: translate(0,65px);
    background-color:red;
}
.pbars.px2.py2 {
    transform: translate(65px,65px);
    background-color:blue;
}
.pbars.px3.py2 {
    transform: translate(130px,65px);
    background-color:blueviolet;
}
.pbars.px1.py3{
    transform: translate(0,130px);
    background-color:darkred;
}
.pbars.px2.py3 {
    transform: translate(65px,130px);
    background-color:dodgerblue;
}
.pbars.px3.py3 {
    transform: translate(130px,130px);
    background-color:deeppink;
}

.ptoggled .pbars.px1.py1{
    transform: translate(-65px,-65px);
}
.ptoggled .pbars.px2.py1 {
    transform: translate(65px,-65px);
}
.ptoggled .pbars.px3.py1 {
    transform: translate(195px,-65px);
}
.ptoggled .pbars.px1.py2{
    transform: translate(-65px,65px);
}
.ptoggled .pbars.px2.py2 {
    transform: translate(65px,65px);
}
.ptoggled .pbars.px3.py2 {
    transform: translate(195px,65px);
}
.ptoggled .pbars.px1.py3{
    transform: translate(-65px,195px);
}
.ptoggled .pbars.px2.py3 {
    transform: translate(65px,195px);
}
.ptoggled .pbars.px3.py3 {
    transform: translate(195px,195px);
}


.littlebars_container {
    position: absolute;
    top:108px;
    left: 30px;
    width: 15px;
    height: 15px;
    cursor:pointer;
    padding-top:10px;
    z-index:1501;
}

.littlebars_containerlight {
    opacity:.2;
    z-index:500;
}

.littlebars {
    /* blue blocks */
    transition: transform 0.2s linear, background-color 0.2s linear;
    background-color: blueviolet;
    width: 4px;
    height: 4px;
    position: absolute;
}

.littlebars.lx1.ly1{
    transform: translate(0,0);
}
.littlebars.lx2.ly1 {
    transform: translate(5px,0);
}
.littlebars.lx3.ly1 {
    transform: translate(10px,0);
}
.littlebars.lx1.ly2{
    transform: translate(0,5px);
}
.littlebars.lx2.ly2 {
    transform: translate(5px,5px);
}
.littlebars.lx3.ly2 {
    transform: translate(10px,5px);
}
.littlebars.lx1.ly3{
    transform: translate(0,10px);
}
.littlebars.lx2.ly3 {
    transform: translate(5px,10px);
}
.littlebars.lx3.ly3 {
    transform: translate(10px,10px);
}

/* 
--------------------------------------------------------
          
         Het beginscherm - Zet de telefoon aan!

--------------------------------------------------------
*/
body.pindex.intro {
    background-color: black;
}

.beforemenu {
   opacity:1;
   background-color:black;
   height:100%;
   width:100%;
   margin: 0;
   top: 0;
   left: 0;
   z-index:1500;
   position: fixed;
   transition: opacity 1s linear;
   transition-delay:1s;
} 

.phonebg {
    transition-delay: 0.5s;
    transition: background-color 0.3s linear;
    background: black;
    position: absolute;
    width: 269px;
    left: 20px;
    height: 470px;
    top: 90px;
}



.beforemenu_toggled .phonebg {
    background: white;
}

.beforemenu_toggled {
    opacity:0;
    pointer-events: none;
}
.beforemenu_toggled .phoneframe {
    transform:scale3d(4, 4, 4);
}

.phoneframe {
    transition: transform 1s ease-in;
    transform:scale3d(1, 1, 1);
    left:50%;
    top:50%;
    margin-left:-154px;
    margin-top:-325px;
    z-index:2000;
    position:absolute;

}

.phoneframe img {
    height:651px;
    width:308px;
}

.redbutton {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-30px;
    margin-top:250px;
    height:60px;
    width:60px;
    background-color:red;
    z-index:2001;
    border-radius:50%;
    cursor:pointer;
}

.greenbutton {
    position:absolute;
    top:425px;
    left:205px;
    height:60px;
    width:60px;
    background-color:limegreen;
    z-index:2001;
    border-radius:50%;
    cursor:pointer;
}

.left-phone-button {
    position:absolute;
    top:575px;
    left:125px;
    height:60px;
    width:60px;
    background-color:red;
    z-index: 2001;
    border-radius:50%;
    cursor:pointer;
}

.phonescreen {
   position:absolute;
   top: 90px;
   left: 18px;
   z-index:2000;
   height:475px;
   width:273px;
   opacity: 1;
   transition: background-color 0.5s ease-in;
   background-color:black;
   border-radius:5px;
}

.left-phone-on .phonescreen {
    opacity: 0;
    background-color: white;
    pointer-events: none;
}

.left-phone-on .left-phone-button {
    background-color: limegreen;
}


/*
--------------------------------------------------------
            Handige (?) functies
--------------------------------------------------------
*/

.hide {
    transition-delay:0.2s;
    transition: transform 0.2s linear visibility 0.2 linear display 0.2 linear;
    transition-duration: 0.2s;
}

.show {
    transition-delay:3s;
    transition-duration:2s;
    transition-property: visibility visible;
}


.not_active {
   pointer-events: none;
   cursor: default;
}

.active {
    pointer-events:all;
    cursor:pointer;
}

/*
--------------------------------------------------------
        Het Hoofdmenu 
--------------------------------------------------------
*/

.topbox {
    background-color:lightgrey;
    width:100%;
    height:50px;
    position:fixed;
    z-index:1;
    top:20px;
    border-radius:5px 5px 0px 0px;
    overflow:hidden;
}

.topbox.pextra, .topbox.pextra, .topbox.pdata, .topbox.pgeschiedenis, .topbox.pdocumentaire, .topbox.ptheorie, .topbox.ppol,{
    top:80px;
    border-bottom:0px solid;
}


.topbox.phomepage {
    border-radius 5px 5px 5px 5px;
}

.ptopbox {
    background-color:lightgrey;
    width: 273px;
    height:30px;
    position:absolute;
    z-index:-500;
    top:110px;
    left:7px;
    overflow:hidden;

}

.phonebar_container {
    width:100%;
    position:fixed;
    padding-left:90px;
    overflow:hidden;
    top:20px;
    z-index:1;
}

.topbar {
    width:auto;
    display:inline-block;
    overflow:hidden;
}

a.topbar {
    font-size: 15px;
    text-decoration:none;
    font-family:"Open Sans", sans-serif;
    color:dimgrey;
    padding: 0 20px;
    font-style: none;
    /* causes hover-delay. why is it here?
       perhaps also specify the css properties to transition on?

    transition-delay:0.3s;
    transition-duration:0.3s;
    */
    text-align: center;
    position:relative;
    overflow:hidden;
    font-weight:bold;
    margin-top:15px;
    margin-bottom:15px;
}

.contenthomepage {
    width:50%;
    top:100px;
    float:right;
    overflow:hidden;
}

.contenthompage img {
    overflow:hidden;
    width:500px;
    height:700px;
}

.container_textontopimg {
    position:absolute;
    top:100px;
}

/*
------------------------------------------------------
        Telefoon links
------------------------------------------------------
*/


.phoneleft{
    position:absolute;
    top:100px;
    left:50px;
    z-index:2001;
    transition: transform 0.5s ease-out;
    transition-delay: 2s;
    transform: translateX(-500px);
}


.phoneleft.show-left-phone {
    transform: translateX(0);
    transition-delay: 2s;
}


.phoneleft img {
    height:651px;
    width:308px;
}

.notvisible {
    visibility:hidden;
}